html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer-bank {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    line-height: 30px;
    background:
    linear-gradient(
         rgba(89, 90, 84, 0.45),  
         rgba(250, 249, 249, 0.45) 
      ),
      /* image to overlay */
      url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}

.design {
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;
    color: azure;
    font-size: 15px;
}

.footer-bottom {
    position: absolute;
    background-color: #141518;
    min-height: 20px;
    width: 100%;
    bottom: 0;
}