
  <footer class="footer footer-bank">
    <div class="container">
        <div class="pull-right">
            <span class="text-muted">{{banka?.naziv}}</span><br>
            <span class="text-muted">{{banka?.adresa }}, {{ banka?.mesto }} </span><br>
            <span class="text-muted">{{bank?.telefon}}.</span>
        </div>
    </div>
  </footer>
  <div class="container footer-bottom">
      <div class="row">
        <div class="container-fluid">
            <div class="design">Payment service</div>
        </div>
      </div>
  </div>



